.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
}

.grid img {
  width: 100%;
  object-fit: cover;
}

.text {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr;
}
.grid :nth-child(1){
  grid-area: 1 / 1/ span 1 /span 2;
}

@media only screen and (min-width: 768px) {
  .text {
    grid-template-columns: 1fr 1fr;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid :nth-child(1){
    grid-row-end: span 2;
    object-position: right;
  }
}


@media only screen and (min-width: 1025px) {
  .text {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .grid :nth-child(7),.grid :nth-child(8),.grid :nth-child(9) {
    grid-column-end: span 2;
  }
  .grid :nth-child(3){
    grid-row-end: span 2;
  }

}